@import "tailwindcss";

* {
  transition-property:
    color,
    background-color,
    border-color,
    transform,
    opacity;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Smooth selection color */
::selection {
  background: #22d3ee;
  color: #020617;
}